<div id="page-addQualification">
     <h2 class="display-3">Add Student Qualification</h2>
     
     
     
     <form method="post">
          <div class="form-group">
               <label class="control-label" for="StudentID">Student ID Number</label>
               <input type="text" class="form-control" id="InputName" aria-describedby="StudentID" placeholder="EnterStudentName">
               <small id="IDHelp" class="form-text text-muted">Enter the Student Student ID</small>
          </div>

          <div class="form-group">
               <label class="control-label" for="Sudent-Name">Student Name</label>
               <input type="text" class="form-control" id="studentName" aria-describedby="StudetName" placeholder="EnterStudentName">
               <small id="IDHelp" class="form-text text-muted">Enter the Student Name</small>
          </div>

          <div class="form-group">
               <label class="control-label" for="Course Name">Course Name</label>
               <input type="text" class="form-control" id="courseName" aria-describedby="courseName" placeholder="EnterCourseName">
               <small id="IDHelp" class="form-text text-muted">Enter the Student Course Name</small>
          </div>
          <div class="form-group">
               <label class="control-label" for="StudentID">Course Year </label>
               <input type="text" class="form-control" id="InputName" aria-describedby="StudentID" placeholder="EnterStudentName">
               <small id="IDHelp" class="form-text text-muted">Enter the Course Year</small>
          </div>

           <button type="submit" class="btn btn-primary">Submit</button>
          
     </form>
</div>