<div id="page-addQualification">
     
     <div class="container  topback">
          <div class="jumbotron">
               <h1 class="display-3">Add Qualification</h1>
               <p class="lead">A blockchain implementation to validate accreditations for a university scenario
               </p>
           
          </div>
     </div>
     
     
     <h2 class="display-3">Add Student Qualification</h2>
     
     
     
     <form method="post">
          <div class="form-group">
               <label class="control-label" for="studentID">Student ID Number</label>
               <input type="text" class="form-control" id="studentID" aria-describedby="Student ID" placeholder="Enter Student Name">
               <small id="IDHelp" class="form-text text-muted">Enter the Student Student ID</small>
          </div>

          <div class="form-group">
               <label class="control-label" for="studentName">Student Name</label>
               <input type="text" class="form-control" id="studentName" aria-describedby="Studet Name" placeholder="Enter Student Name">
               <small id="IDHelp" class="form-text text-muted">Enter the Student Name</small>
          </div>

          <div class="form-group">
               <label class="control-label" for="courseName">Course Name</label>
               <input type="text" class="form-control" id="courseName" aria-describedby="course Name" placeholder="Enter Course Name">
               <small id="IDHelp" class="form-text text-muted">Enter the Student Course Name</small>
          </div>
          <div class="form-group">
               <label class="control-label" for="courseYear">Course Year </label>
               <input type="text" class="form-control" id="courseYear" aria-describedby="Student ID" placeholder="Enter Student Name">
               <small id="IDHelp" class="form-text text-muted">Enter the Course Year</small>
          </div>

           <button type="submit" class="btn btn-primary">Submit</button>
          
     </form>
</div>