<div id="page-employer">
   
     <div class="container  topback">
          <div class="jumbotron">
               <h1 class="display-3">BLOCK CV </h1>
               <p class="lead">A blockchain implementation to validate accreditations for a university scenario
               </p>
           
          </div>
     </div>
     

     <div id="imaginary_container">
          <div class="input-group stylish-input-group">
               <input type="text" class="form-control" placeholder="Search the Student" ng-model="item.studentId">
               <span class="input-group-addon">
                        <button type="submit" ng-click="search(item.studentId)">
                            <span class="glyphicon glyphicon-search"></span>
               </button>
               </span>
          </div>
     </div>

     <br>
     <br>

     <div>

          <div class="panel panel-default" ng-show="student != null">
               <div class="panel-heading">
                    <h3 class="heading">Results</h3>
               </div>
               <div class="panel-body">
                    <h2>Student - {{ student.name }}</h2>

                    <h3>Qualifications</h3>
                    <table class="table">
                         <thead class="thead-inverse">
                         <tr>
                              <th>Institution</th>
                              <th>Course Name</th>
                              <th>Year</th>
                              <th>Grade</th>
                         </tr>
                         </thead>
                         <tbody>
                         <tr ng-repeat="item in student.qualifications">
                              <td>{{ item.institution }}</td>
                              <td>{{ item.course }}</td>
                              <td>{{ item.year }}</td>
                              <td>{{ item.grade }}</td>
                         </tr>
                         </tbody>
                    </table>
               </div>
          </div>

     </div>

</div>