<div id="page-employer">
   
     <div class="container  topback">
          <div class="jumbotron">
               <h1 class="display-3">BLOCK CV </h1>
               <p class="lead">A blockchain implementation to validate accreditations for a university scenario
               </p>
           
          </div>
     </div>
     

     <div id="imaginary_container">
          <div class="input-group stylish-input-group">
               <input type="text" class="form-control" placeholder="Search the Student">
               <span class="input-group-addon">
                        <button type="submit">
                            <span class="glyphicon glyphicon-search"></span>
               </button>
               </span>
          </div>
     </div>
     
     <br>
     <br>
      <br>
     <br>
     
   <button type="button" class="btn btn-primary btn-lg  btn-outline-primary btn-block ">Search</button>



</div>