<div id="page-employer">
     <h2>Global INC.</h2>

     <div id="imaginary_container">
          <div class="input-group stylish-input-group">
               <input type="text" class="form-control" placeholder="Search the Student">
               <span class="input-group-addon">
                        <button type="submit">
                            <span class="glyphicon glyphicon-search"></span>
               </button>
               </span>
          </div>
     </div>
     
     <br>
     <br>
      <br>
     <br>
     
   <button type="button" class="btn btn-primary btn-lg  btn-outline-primary btn-block ">Search</button>



</div>