<div id="page-home">
<div class="container">
     
   
     <div class="container  topback">
          <div class="jumbotron">
               <h1 class="display-3">BLOCK CV </h1>
               <p class="lead">A blockchain implementation to validate accreditations for a university scenario
               </p>
           
          </div>
     </div>
     
     
     
     <div class="cta-bg">
          <div class="container text-center">
               <h3 class="whitetext">SECURE READY FOR BUSINESS 
                   
                </h3>
          </div>
     </div>


     <div class="row marketing">
          <div class="col-lg-6">
               <h4 class="display-1">Easy Access </h4>
               <p>Dnly a specific subset of employers should have access to each student record</p>

               <h4 class="display-1">Easy Validation</h4>
               <p>Blockchain offers a method in which to instantly validate qualification entries</p>


          </div>

          <div class="col-lg-6">
               <h4 class="display-1">Easy for Student</h4>
               <p>Student applies for a job with CV</p>

               <h4 class="display-1">Verify Legitimancy</h4>
               <p>Employer wants to verify that their qualifications are legitimate</p>


          </div>
     </div>
  </div>
</div>