<div id="page-student">
     <h2>Student - {{ student.name }}</h2>

     <h3>Qualifications</h3>
     <table class="table">
          <thead class="thead-inverse">
               <tr>
                    <th>Institution</th>
                    <th>Course Name</th>
                    <th>Year</th>
                    <th>Grade</th>
               </tr>
          </thead>
          <tbody>
               <tr ng-repeat="item in student.qualifications">
                    <td>{{ item.institution }}</td>
                    <td>{{ item.course }}</td>
                    <td>{{ item.year }}</td>
                    <td>{{ item.grade }}</td>
               </tr>
          </tbody>
     </table>


     <h3>Grant Access to Employer</h3>
     <div class="form-group">
          <label for="employer">Employer</label>
          <input class="form-control" type="text" id="employer" ng-model="employer.name" placeholder="Employer Name"/>
     </div>

     <button type="button" class="btn btn-primary btn-lg  btn-outline-primary btn-block .btn-primarymine " ng-click="grantAccess(employer.name)">GRANT ACCESS</button>

</div>