<div id="page-student">
     <h4>Student - Sam</h4>

     <table class="table">
          <thead class="thead-inverse">
               <tr>
                    <th>First Name</th>
                    <th>Last Name</th>
                    <th>Course</th>
               </tr>
          </thead>
          <tbody>
               <tr>
                    <td>Sam Senda</td>
                    <td>Computer Science</td>
                    <td>1 Class (Hons)</td>
               </tr>
          </tbody>
     </table>

     <button type="button" class="btn btn-primary btn-lg  btn-outline-primary btn-block .btn-primarymine ">GRANT ACCESS</button>

</div>