<div id="page-addQualification">

     <div class="container  topback">
          <div class="jumbotron">
               <h1 class="display-3">Add Qualification</h1>
               <p class="lead">A blockchain implementation to validate accreditations for a university scenario
               </p>

          </div>
     </div>


     <h2 class="display-3">Sambulo Senda Qualifications</h2>


     <table class="table">
          <thead>
               <tr>
                    <th>#</th>
                    <th>Institution</th>
                    <th>Year</th>
                    <th>Grade</th>
               </tr>
          </thead>
          <tbody>
               <tr>
                    <th scope="row">1</th>
                    <td>Mark</td>
                    <td>Otto</td>
                    <td>@mdo</td>
               </tr>
               <tr>
                    <th scope="row">2</th>
                    <td>Jacob</td>
                    <td>Thornton</td>
                    <td>@fat</td>
               </tr>
               <tr>
                    <th scope="row">3</th>
                    <td>Larry</td>
                    <td>the Bird</td>
                    <td>@twitter</td>
               </tr>
          </tbody>
     </table>

    

     </form>
</div>