<div id="page-uni">
     <h2>Bedfordshire Uni</h2>
    <form method="post">
          <div class="form-group">
               <label class="control-label" for="StudentName">Enter Student Name </label>
               <input type="text" class="form-control" id="InputName" aria-describedby="Name" placeholder="EnterStudentName">
               <small id="nameHelp" class="form-text text-muted">Enter the Student Name</small>
         </div>



    <!-- Form code begins -->
   
      <div class="form-group"> <!-- Date input -->
        <label class="control-label" for="date">Date</label>
        <input class="form-control" id="date" name="date" placeholder="MM/DD/YYY" type="text"/>
      </div>
      <div class="form-group"> <!-- Submit button -->
        
        
   
 


        
       <button type="button" class="btn btn-primary btn-lg  btn-outline-primary btn-block ">Add</button>
      </div>

     <!-- Form code ends --> 

    

          
          
          
         

     </form> 
</div>