<div id="page-uni">
     
     <div class="container  topback">
          <div class="jumbotron">
               <h1 class="display-3">BLOCK CV </h1>
               <p class="lead">A blockchain implementation to validate accreditations for a university scenario
               </p>
           
          </div>
     </div>
     
     <h2>Bedfordshire Uni</h2>
    <div class="alert alert-success" ng-show="success===true">
        You have created a student!!!  ID is <strong><a href="#/student/{{key}}"> {{ key }}</a></strong>

    </div>
    <form method="post">
          <div class="form-group">
               <label class="control-label" for="studentName">Enter Student Name </label>
               <input type="text" class="form-control" id="studentName" aria-describedby="Name" placeholder="Enter Student Name" ng-model="item.name">
               <small id="nameHelp" class="form-text text-muted">Enter the Student Name</small>
         </div>

   <!-- Form code begins -->
   
      <div class="form-group"> <!-- Date input -->
        <label class="control-label" for="date">Date</label>
        <input class="form-control" id="date" name="date" placeholder="DD/MM/YYY" type="text" ng-model="item.dateofbirth"/>
      </div>
      <div class="form-group"> <!-- Submit button -->

       <button type="button" class="btn btn-primary btn-lg  btn-outline-primary btn-block" ng-click="addStudent(item)">Add</button>
      </div>

     <!-- Form code ends --> 
     </form>
</div>