.panel-heading .heading {
  margin-top: 0;
  margin-bottom: 0;
}
.key-value .key {
  font-weight: bold;
  padding: 3px;
}
.key-value .value {
  padding: 5px;
  background-color: #ececec;
  margin-left: 10px;
  min-height: 2em;
  padding-left: 10px;
  border-radius: 5px;
  font-size: 130%;
}
.numeric {
  text-align: right;
}
#page-home .panel-body {
  text-align: center;
}
#page-home img {
  width: 230px;
}
.header img {
  height: 40px;
}
.breadcrumb img {
  height: 30px;
  margin-right: 5px;
}

.stylish-input-group .input-group-addon{
    background: white !important; 
}
.stylish-input-group .form-control{
	border-right:0; 
	box-shadow:0 0 0; 
	border-color:#ccc;
}
.stylish-input-group button{
    border:0;
    background:transparent;
}

.btn-primarymin{
	min-width: 3.5em;
}


.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  background-color: #f5f5f5;
}


/* Custom page CSS
-------------------------------------------------- */
/* Not required for template or sticky footer method. */

.container {
  width: auto;
  max-width: 800px;
  padding: 0 15px;
}
.container .text-muted {
  margin: 20px 0;
}


.navbar .navbar-nav {
    display: inline-block;
    float: none;
}

.navbar .navbar-collapse {
    text-align: center;
}



.form-group {
    margin-bottom: 0;
    padding: 10px 0;
    &:first-child { border-color: transparent; }
}

.form-control {
    -webkit-box-shadow: none;
    box-shadow: none;
    border-width: 2px;
    min-height: 40px;
    height: auto;
    &:focus {
        -webkit-box-shadow: none;
        box-shadow: none;
    }
}
.form-vertical {
    counter-reset: fieldset;
  
    fieldset {
        padding-top: 10px;
        margin: 50px 0;

        > legend:before {
            content: counter(fieldset);
            counter-increment: fieldset;
            position: absolute;
            left: -25px;
            width: 30px;
            height: 30px;
            line-height: 30px;
            border-radius: 15px;
            text-align: center;
            background: $brand-primary;
            color: white;
            font-size: 75%;
            font-weight: bold;
        }
    }
}

label {
  &.checkbox {
    margin-bottom: 15px;
    position: relative;
    
    .icheckbox_square-blue {
      position: absolute;
      top: 0; left: 0;
    }
    input {
      position: absolute;
      left: 0;
      top: 0;
    }
    span {
      padding-left: 35px;
      display: block;
    }
  }
}

.radio {
  label {
    padding-left: 0;
  }
  span {
    vertical-align: middle;
    margin-left: 5px;
  }
}



.btn-group.radio-group {
  .btn {
    height: 50px;
    line-height: 22px;
    padding: 12px 20px;
    span {
      line-height: 22px;
      vertical-align: middle;
      margin-left: 5px;
    }
  }
}


/* bootstrap select styles */
.bootstrap-select {
    .btn {
        min-height: 40px;
        border-width: 2px;
        -webkit-box-shadow: none;
        box-shadow: none;
        outline: 0;
        &:hover { background: white; }
    }
}
.bootstrap-select .btn:focus,
.bootstrap-select.btn-group.open .dropdown-toggle {
    border-color: $brand-primary;
//    background: $brand-primary;
//    color: white;
    background: white;
    outline: 0;
}
.bootstrap-select .btn.bootstrap-select.btn-group.open .dropdown-toggle {
    border-color: $brand-primary;
    color: white;
    -webkit-box-shadow: none;
    box-shadow: none;
}
.dropdown-menu>li>a:hover,
.dropdown-menu>li>a:focus {
    background: $brand-primary;
    color: white;
}

label { cursor: pointer; }
:-ms-input-placeholder { color:#ccc; }
::-moz-placeholder { color:#ccc; }
::-webkit-input-placeholder { color:#ccc; }





.lead {
	font-family: 'Raleway', sans-serif;
}

.display-3 {
	font-family: 'Raleway', sans-serif;
	font-weight: bold;
}

.display-1 {
font-family: 'Poppins', sans-serif;
	font-weight: bold;
}

.control-label {
	font-family: 'Raleway', sans-serif;
	font-weight: 300;
}


/* Supporting marketing content */
.marketing {
  margin: 40px 0;
}
.marketing p + h4 {
  margin-top: 28px;
}


