.panel-heading .heading {
  margin-top: 0;
  margin-bottom: 0;
}
.key-value .key {
  font-weight: bold;
  padding: 3px;
}
.key-value .value {
  padding: 5px;
  background-color: #ececec;
  margin-left: 10px;
  min-height: 2em;
  padding-left: 10px;
  border-radius: 5px;
  font-size: 130%;
}
.numeric {
  text-align: right;
}
#page-home .panel-body {
  text-align: center;
}
#page-home img {
  width: 230px;
}
.header img {
  height: 40px;
}
.breadcrumb img {
  height: 30px;
  margin-right: 5px;
}

.stylish-input-group .input-group-addon{
    background: white !important; 
}
.stylish-input-group .form-control{
	border-right:0; 
	box-shadow:0 0 0; 
	border-color:#ccc;
}
.stylish-input-group button{
    border:0;
    background:transparent;
}

.btn-primarymin{
	min-width: 3.5em;
}
